{
  presets: [
    "react",
    "es2015",
    "babel-preset-stage-3",
    "babel-polyfill",
    "babel-preset-es2015",
    "stage-0"
  ],
  env: {
    start: {
      presets: [
        "react-hmre"
      ]
    }
  }
}
