.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postContainer {
  margin: 20px;
  padding: 10px;
  max-width: 600px;
}
