.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.postContainer {
  margin-bottom: 20px;
  padding: 10px;
  min-width: 80vw;
  height: 75vh;
}

.postContainer iframe {
  width: 80vw;
  height: 71.5vh;
}

.postTitleContainer {
  min-width: 80vw;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 0;
}

.postTitle {
  color: white;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 25px;
}

.actionBtnTitle {
  float: right;
}
